<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost/mxtrAutomation" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
    <add key="EZShredBaseUrl" value="http://72.1.203.91:4550/api/ezshred/getdata" />    
  </appSettings>
</configuration>