<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost/mxtrAutomation" />
  </connectionStrings>
  <appSettings>
    <add key="SharpspringBaseUrl" value="https://api.sharpspring.com/pubapi/v1/" />
    <add key="ShawAccountObjectID" value="59bbe6e9ed1f262a341f14de" />
    <add key="ShawDataFirstRunBackfillDays" value="5" />
  </appSettings>
</configuration>