@model mxtrAutomation.Websites.Platform.Models.DmaPerformance.ViewModels.DMAPerformanceViewModel

@{ Layout = "~/Views/Shared/MainLayout.cshtml"; }

@section MainContent {

	<h2>I am the DMAPerformance.</h2>

}
